# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/media
/staticfiles

# Virtual Environment
venv/
env/
ENV/
.env

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
Thumbs.db
ehthumbs.db
.DS_Store
